@media screen and (min-width: 480px) {
  
 

  /**********************************
  PAGE: PORTFOLIO
  ***********************************/
  
  #gallery li {
    width: 150px;
  }
  
  #gallery li:nth-child(5n) {
    clear: right;
  }
  #search{
  
  }
}

@media screen and (min-width: 660px) {
  
  #search {

  }
}